<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
  <meta name="renderer" content="webkit">
  <title>学生综合信息服务平台</title>
  <link rel="stylesheet" href="/css/s+.css" />
  <link rel="stylesheet" href="/css/base.css" />
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <![endif]-->
  <script src="/js/jquery.js"></script>
  <script src="/js/sweetalert.min.js"></script>
  <script src="/js/s+.js"></script>
  <script src="/js/city.js"></script>
  <script src="/js/information.js"></script>
</head>
<body id="jbxx">
<header><img src="/images/img03.png"></header>
<aside class="sidebar">
  <div class="fl people">
    <p><img src="/images/dome2.jpg"></p>
    <b th:text="${student1.getSname()}">XXX</b>
    <em th:text="${student1.getName()}">商学院</em>
  </div>
  <menu class="fl maxbox menu">
    <ul>
      <li><a class="cur" href="#jbxx"><b>基本信息</b><i>&nbsp;</i><em>&nbsp;</em></a></li>
      <li><a href="#shgl"><b>课程成绩</b><i>&nbsp;</i><em>&nbsp;</em></a></li>
      <li><a href="#xyxx"><b>修改个人信息</b><i>&nbsp;</i><em>&nbsp;</em></a></li>
      <li><a href="#xfsp"><b>修改密码</b><i>&nbsp;</i><em>&nbsp;</em></a></li>
      <li><a href="#xljk"><b>课程选择</b><i>&nbsp;</i><em>&nbsp;</em></a></li>
      <li><a href="javascript:void(0);" onclick="stu_exit()"><b>退出登录</b><i>&nbsp;</i><em> </em></a></li>
      <!--      <li><a href="#czfd"><b>成长辅导</b><i>&nbsp;</i><em>&nbsp;</em></a></li>-->
      <!--      <li><a href="#zzxx"><b>资助信息</b><i>&nbsp;</i><em>&nbsp;</em></a></li>-->
      <!--      <li><a href="#qgzx"><b>勤工助学</b><i>&nbsp;</i><em>&nbsp;</em></a></li>-->
      <!--      <li><a href="#shhd"><b>社会活动</b><i>&nbsp;</i><em>&nbsp;</em></a></li>-->
    </ul>
  </menu>
  <div class="sidebar_line_top"><img src="/images/img01.png"></div>
  <div class="sidebar_line_foot"><img src="/images/img01.png"></div>
  <div class="sidebar_line_right">&nbsp;</div>
</aside>
<section class="fl mainbady">
  <!--基本信息-->
  <div class="fl info">
    <div class="decorate_left_top"><img src="/images/img08.png"></div>
    <div class="decorate_left_top_two"><img src="/images/img09.png"></div>
    <div class="decorate_left_foot"><img src="/images/img07.png"></div>
    <div class="decorate_right_top"><img src="/images/img07.png"></div>
    <div class="fl info_top">
      <p th:text="'学号：' + ${student1.getSno()}">学号：0101140101</p>
      <p th:text="'性别：' + ${student1.getSex()}">性别：男</p>
      <p th:text="'出生日期：' + ${student1.getBirthday()==null?'还未填写生日':student1.getBirthday()}">出生日期：1994年10月1日</p>
      <p th:text="'联系方式：' + ${student1.getPhone()==null?'还未填写电话号码':student1.getPhone()}">联系方式：1380000000</p>
      <p th:text="'学院：' + ${student1.getName()}">学院：地球科学与信息学院</p>
      <p th:text="'班级：' + ${student1.getPname()}">班级：地勘1701</p>
      <p th:text="'家庭地址：' + ${student1.getAddress()==null?'还未填写家庭地址':student1.getAddress()}">班级：地勘1701</p>
    </div>
    <div class="fl column">
      <div class="fl two_column"><img src="/images/01.png"></div>
      <div class="fr two_column column_bg"><img src="/images/02.png"></div>
    </div>
  </div>
  <div class="footline"><img class="fr" src="/images/img06.png"></div>
  <div class="fl space">
    <img class="fl" src="/images/img04.png">
    <p class="fl">&nbsp;</p>
    <img class="fl right" src="/images/img04.png">
  </div>
  <!--生活规律-->
  <div class="fl plate" id="shgl">
    <div class="decorate_left_foot"><img src="/images/img07.png"></div>
    <div class="decorate_right_top"><img src="/images/img07.png"></div>
    <div class="fr info_top">
      <div class="txtinfo"><h2 style="text-align:center">课程成绩</h2></div>
      <table border="1" cellpadding="10" width="100%">
        <thead>
        <tr style="text-align: center; height: 30px;">
          <th style="text-align: center;">课程名</th>
          <th style="text-align: center;">平时成绩</th>
          <th style="text-align: center;">期末成绩</th>
        </tr>
        </thead>
        <tbody>
        <tr class="scoreItem" th:each="scores,x:${scores}" style="text-align: center; height: 30px;">
          <th class="cname" style="text-align: center;" th:text="${scores.cname}">1</th>
          <th class="usual" style="text-align: center;" th:text="${scores.usual}==null?'还未填写平时成绩':${scores.usual}">1</th>
          <th class="final" style="text-align: center;" th:text="${scores.finall}==null?'还未填写期末成绩':${scores.finall}">1</th>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="footline"><img class="fr" src="/images/img06.png"></div>
  <div class="fl space">
    <img class="fl" src="/images/img04.png">
    <p class="fl">&nbsp;</p>
    <img class="fl right" src="/images/img04.png">
  </div>
  <!--学业信息-->
  <div class="fl plate" id="xyxx">
    <div class="decorate_left_foot"><img src="/images/img07.png"></div>
    <div class="decorate_right_top"><img src="/images/img07.png"></div>
    <div class="fl info_top">
      <div class="txtinfo"><h2 style="text-align:center">修改个人信息</h2></div>
      <p><label th:text="'学号：' + ${student1.getSno()}">1</label></p>
      <p><label th:text="'学院：' + ${student1.getName()}">1</label></p>
      <p><label th:text="'班级：' + ${student1.getPname()}">1</label></p>
      <p><label>联系方式：</label><input type="text" id="phone" th:value="${student1.getPhone()}"></p>
      <p><label>出生日期：</label><input type="date" id="birthday" th:value="${student1.getBirthday()}"></p>
      <p><label>性别：</label><select id="sex">
        <option value="none" selected disabled hidden>请选择性别</option>
        <option value="男" th:selected="${student1.getSex() == '男'}">男</option>
        <option value="女" th:selected="${student1.getSex() == '女'}">女</option>
      </select></p>
      <p><label>家庭地址</label></p>
      <p>
        <label>请选择省份</label>
        <select id="province" onchange="getCity()">
          <option value="none" selected disabled hidden>请选择省份</option>
          <!-- 利用js把省份添加到下拉列表里-->
          <script type="text/javascript">
            for(var i=0;i < provinceArr.length;i++)
            {
              document.write("<option value='"+i+"'>"+provinceArr[i]+"</option>");
            }
          </script>
        </select>
      </p>
      <p>
        <label>请选择城市：</label>
        <select id="city">
          <option value="none" selected disabled hidden>请选择城市</option>
          <option value="0">请先选择省份</option>
          <script>
            //当省份的选择发生变化时调用 该方法   将市县加载到下拉选择框
            function getCity()
            {
              //1.获取省份选择框的对象
              var provincesobj = document.getElementById("province");
              //2.获取市县选择框的对象
              var cityobj = document.getElementById("city");
              cityobj.options.remove(1)
              //3.获取被选择的省份的索引
              var index = provincesobj.selectedIndex;
              //alert(provincesobj[index].value+","+provincesobj[index].text);
              // 4.通过省份的索引获取它的value值，value值也是它在数组的索引值
              var value=provincesobj[index].value;
              //5.获取对应省份的市县数组
              var cityName=cityArr[value];
              //6.将下拉框清楚索引为0之后的，只保留第一个
              cityobj.length=1;
              //通过循环遍历市县元素给下拉框赋值
              for(var i = 1;i < cityArr[value].length;i++)
              {
                cityobj.options[cityobj.options.length]=new Option(cityName[i],cityName[i]);
              }
            }
          </script>
        </select>
      </p>
      <a href="javascript:void(0);" id="update" class="cur"><b>确认修改信息</b></a>
    </div>
    <div class="fl space_line"></div>
    <div class="fl column">
      <div class="fl two_column"><img src="/images/01.png"></div>
      <div class="fr two_column"><img src="/images/01.png"></div>
    </div>
  </div>
  <div class="footline"><img class="fr" src="/images/img06.png"></div>
  <div class="fl space">
    <img class="fl" src="/images/img04.png">
    <p class="fl">&nbsp;</p>
    <img class="fl right" src="/images/img04.png">
  </div>
  <!--消费水平-->
  <div class="fl plate" id="xfsp">
    <div class="decorate_left_foot"><img src="/images/img07.png"></div>
    <div class="decorate_right_top"><img src="/images/img07.png"></div>
    <div class="info_top">
      <div class="txtinfo"><h2 style="text-align:center">修改密码</h2></div>
      <p style="width: 100%; padding: 10px 35%">
        <label>  旧 密 码：</label>
        <input type="password" id="oldPwd">
      </p>
      <p style="width: 100%; padding: 10px 35%">
        <label>  新 密 码：</label>
        <input type="password" id="newPwd">
      </p>
      <p style="width: 100%; padding: 10px 35%">
        <label>确认密码：</label>
        <input type="password" id="rePwd">
      </p>
      <a href="javascript:void(0);" id="updatePass" class="cur"><b>确认修改密码</b></a>
    </div>
    <div class="fl column">
      <div class="fl two_column"><img src="/images/01.png"></div>
      <div class="fr two_column"><img src="/images/01.png"></div>
    </div>
  </div>
  <div class="footline"><img class="fr" src="/images/img06.png"></div>
  <div class="fl space">
    <img class="fl" src="/images/img04.png">
    <p class="fl">&nbsp;</p>
    <img class="fl right" src="/images/img04.png">
  </div>
  <!--心理健康-->
  <div class="fl plate" id="xljk">
    <div class="decorate_left_foot"><img src="/images/img07.png"></div>
    <div class="decorate_right_top"><img src="/images/img07.png"></div>
    <div class="fl txtinfo">
      <span>选课与退课</span>
    </div>
    <div class="fl column">
      <div class="fl two_column">
        <h4 class="fl maxbox tl font18 white">选课：</h4>
        <table border="1" cellpadding="10" width="100%">
          <thead>
          <tr style="text-align: center; height: 30px;">
            <th style="text-align: center;">课程名</th>
            <th style="text-align: center;">教师名</th>
            <th style="text-align: center;">类型</th>
            <th style="text-align: center;">学分</th>
            <th style="text-align: center;">操作</th>
          </tr>
          </thead>
          <tbody>
          <tr class="courseItem" th:each="courses,s:${courses}" style="text-align: center; height: 30px;">
            <th class="sid" style="display: none;" th:text="${student1.getSid()}">1</th>
            <th class="cname" style="text-align: center;" th:text="${courses.cname}">1</th>
            <th class="cid" style="display: none;" th:text="${courses.cid}">1</th>
            <th class="tname" style="text-align: center;" th:text="${courses.tname}">1</th>
            <th class="type" style="text-align: center;" th:text="${courses.type}">1</th>
            <th class="credit" style="text-align: center;" th:text="${courses.credit}">1</th>
            <th class="chooseClass">
              <button class="btn-danger chooseButton">选课</button>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="fr two_column">
        <h4 class="fl maxbox tl font18 white">退课：</h4>
        <table border="1" cellpadding="10" width="100%">
          <thead>
          <tr style="text-align: center; height: 30px;">
            <th style="text-align: center;">课程名</th>
            <th style="text-align: center;">平时成绩</th>
            <th style="text-align: center;">期末成绩</th>
            <th style="text-align: center;">操作</th>
          </tr>
          </thead>
          <tbody>
          <tr class="scoreItem1" th:each="scores,x:${scores}" style="text-align: center; height: 30px;">
            <th class="sid1" style="display: none;" th:text="${student1.getSid()}">1</th>
            <th class="cname" style="text-align: center;" th:text="${scores.cname}">1</th>
            <th class="cid1" style="display: none;" th:text="${scores.cid}">1</th>
            <th class="usual" style="text-align: center;" th:text="${scores.usual}==null?'还未填写平时成绩':${scores.usual}">1</th>
            <th class="final" style="text-align: center;" th:text="${scores.finall}==null?'还未填写期末成绩':${scores.finall}">1</th>
            <th class="chooseClass">
              <button class="btn-danger exitClassButton">退课</button>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="footline"><img class="fr" src="/images/img06.png"></div>
  <div class="fl space">
    <img class="fl" src="/images/img04.png">
    <p class="fl">&nbsp;</p>
    <img class="fl right" src="/images/img04.png">
  </div>
  <!--  <div class="footline"><img class="fr" src="/images/img06.png"></div>-->
  <!--  <div class="fl space">-->
  <!--    <img class="fl" src="/images/img04.png">-->
  <!--    <p class="fl">&nbsp;</p>-->
  <!--    <img class="fl right" src="/images/img04.png">-->
  <!--  </div>-->
  <!--  &lt;!&ndash;资助信息&ndash;&gt;-->
  <!--  <div class="fl plate" id="zzxx">-->
  <!--    <div class="decorate_left_foot"><img src="/images/img07.png"></div>-->
  <!--    <div class="decorate_right_top"><img src="/images/img07.png"></div>-->
  <!--    <div class="fl column">-->
  <!--        <table class="tab" border="0" cellspacing="0" cellpadding="0">-->
  <!--          <tr>-->
  <!--            <td>类型/名称</td>-->
  <!--            <td>时间</td>-->
  <!--            <td>金额</td>-->
  <!--          </tr>-->
  <!--          <tr>-->
  <!--            <td>助学贷款</td>-->
  <!--            <td>2016-02-13</td>-->
  <!--            <td>10000元</td>-->
  <!--          </tr>-->
  <!--          <tr>-->
  <!--            <td>助学贷款</td>-->
  <!--            <td>2016-02-13</td>-->
  <!--            <td>10000元</td>-->
  <!--          </tr>-->
  <!--        </table>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="footline"><img class="fr" src="/images/img06.png"></div>-->
  <!--  <div class="fl space">-->
  <!--    <img class="fl" src="/images/img04.png">-->
  <!--    <p class="fl">&nbsp;</p>-->
  <!--    <img class="fl right" src="/images/img04.png">-->
  <!--  </div>-->
  <!--  &lt;!&ndash;勤工助学&ndash;&gt;-->
  <!--  <div class="fl plate" id="qgzx">-->
  <!--    <div class="decorate_left_foot"><img src="/images/img07.png"></div>-->
  <!--    <div class="decorate_right_top"><img src="/images/img07.png"></div>-->
  <!--    <div class="fl txtinfo">-->
  <!--      <span>累计参与岗位：6个</span>-->
  <!--      <span>累计工资：6000元</span>-->
  <!--    </div>-->
  <!--    <div class="fl column"><img src="/images/01.png"></div>-->
  <!--  </div>-->
  <!--  <div class="footline"><img class="fr" src="/images/img06.png"></div>-->
  <!--  <div class="fl space">-->
  <!--    <img class="fl" src="/images/img04.png">-->
  <!--    <p class="fl">&nbsp;</p>-->
  <!--    <img class="fl right" src="/images/img04.png">-->
  <!--  </div>-->
  <!--  &lt;!&ndash;社会活动&ndash;&gt;-->
  <!--  <div class="fl plate" id="shhd">-->
  <!--    <div class="decorate_left_foot"><img src="/images/img07.png"></div>-->
  <!--    <div class="decorate_right_top"><img src="/images/img07.png"></div>-->
  <!--    <div class="fl column">-->
  <!--      <div class="fl two_column"><img src="/images/01.png"></div>-->
  <!--      <div class="fr two_column">-->
  <!--        <div class="fl maxbox shhd_list">-->
  <!--          <ol>-->
  <!--            <li>参与2018暑假实践活参与2018无该生无心理问题倾向该生无心理问题倾向该生无心理问题倾向该生无心理问题倾向该生无心理暑假实践活参与2018暑假实践活动</li>-->
  <!--            <li>参与2018暑假实践活参与2018暑假实践活参与2018暑假实践活动</li>-->
  <!--            <li>参与2018暑假实践活参与2018无该生无心理问题倾向该生无心理问题倾向该生无心理问题倾向该生无心理问题倾向该生无心理无该生无心理问题倾向该生无心理问题倾向该生无心理问题倾向该生无心理问题倾向该生无心理暑假实践活参与2018暑假实践活动</li>-->
  <!--            <li>参与2018暑假实践活参与2018暑假实践活参与2018暑假实践活动</li>-->
  <!--          </ol>-->
  <!--        </div>-->
  <!--        <h4 class="fl maxbox tl font18 white">总结：</h4>-->
  <!--        <div class="fl maxbox tl">该生无问题倾向该生无心理问题倾向该生无心理问题倾向该生无心理问题倾向该生无心理问题倾向该生无心理问无心心理问题倾向</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <div class="footline"><img class="fr" src="/images/img06.png"></div>
  <div class="fl maxbox martop pdtop pdfoot marfoot">&nbsp;</div>
</section>
</body>
</html>