<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>教务管理系统</title>
    <link rel="stylesheet" type="text/css" href="css/basic.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/query.css"/>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/sHover.min.js"></script>
    <script type="text/javascript" src="js/iscroll.js"></script>
    <script type="text/javascript" src="js/count.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/dd_belatedPNGmin.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('img,div,span,p');
    </script>
    <![endif]-->
</head>
<body>
<!--index-->
<div id="wrap">
    <!--顶部-->
    <div id="wrap_banner" style="background-image: url(images/back.jpg)">
        <!--顶部logo-->
        <div id="wrap_logo">
            <a>
                <img src="images/about.png" alt="北京大学教务部Logo" />
            </a>
        </div>
        <div class="menu_tab">
            <div class="tab">
                <img src="images/tab1.png"/>
                <span>学生</span>
            </div>
            <div class="tab">
                <img src="images/tab2.png"/>
                <span>教师</span>
            </div>
            <div class="tab">
                <img src="images/tab3.png"/>
                <span>校友</span>
            </div>
            <div class="tab">
                <img src="images/tab4.png"/>
                <span>公众</span>
            </div>
        </div>

        <!--顶部右侧内容-->
        <!--顶部右侧内容-->
        <div id="right_nav" class="index_nav">
            <div class="btn_closemark"></div>
            <div class="right_tab">
                <div class="right_item">
                    <div class="right_pos">
                        <img src="images/icon_right1.png" alt=""/>
                    </div>
                    <div class="toright">学生</div>
                </div>
                <div class="right_item">
                    <div class="right_pos">
                        <img src="images/icon_right2.png" alt=""/>
                    </div>
                    <div class="toright">教师</div>
                </div>
                <div class="right_item">
                    <div class="right_pos">
                        <img src="images/icon_right3.png" alt=""/>
                    </div>
                    <div class="toright">校友</div>
                </div>
                <div class="right_item">
                    <div class="right_pos">
                        <img src="images/icon_right4.png" alt=""/>
                    </div>
                    <div class="toright">公众</div>
                </div>
                <div class="right_item right_link">
                    <div class="right_pos">
                        <img src="images/icon_right5.png" alt=""/>
                    </div>
                    <div class="toright">链接</div>
                </div>
                <div class="right_item right_link">
                    <div class="right_pos">
                        <img src="images/icon_right6.png" alt=""/>
                    </div>
                    <div class="toright">搜索</div>
                </div>
            </div>
            <div class="right_con">
                <div class="subcon block">
                    <div class="student_nav">
                        <ul>
                            <li>
                                <a href="/student/login" target="_blank" th:if="${sno == null}"><p class="bdt tosubnav"><img src="images/icon/icon8.png" alt=""/>学生信息服务中心</p></a>
                                <a href="/student/main" target="_blank" th:if="${sno != null}"><p class="bdt tosubnav"><img src="images/icon/icon8.png" alt=""/>学生信息服务中心</p></a>
                            </li>
                            <li>
                                <p class="bdt tosubnav"><img src="images/icon/icon1.png" alt=""/>课程和培养</p>
                                <div class="sub_stunav">
                                    <span ><a href="" >专业设置</a></span>
                                    <span ><a href="" target="_blank">英文授课课程</a></span>
                                    <span ><a href="" >小班课教学</a></span>
                                    <span ><a href="" >通选课</a></span>
                                    <span ><a href="" >通识核心课</a></span>
                                    <span ><a href="" target="_blank">全校课表查询</a></span>
                                    <span ><a href="" >培养方案</a></span>
                                    <span  class="bdn"><a href="" >核心课程</a></span>
                                </div>
                            </li>
                            <li>
                                <p class="bdt tosubnav"><img src="images/icon/icon2.png" alt=""/>选课和退课</p>
                                <div class="sub_stunav ">
                                    <span ><a href="" >结业生选课</a></span>
                                    <span ><a href="" >自修和免修</a></span>
                                    <span ><a href="" >重修</a></span>
                                    <span ><a href="" >选课</a></span>
                                    <span ><a href="" >退课</a></span>
                                    <span ><a href="" >暑期学校选课</a>
                                    </span><span ><a href="" >手工选课</a></span>
                                    <span ><a href="" >跨院系选课</a></span>
                                    <span ><a href="" >冲突选课</a></span>
                                    <span  class="bdn"><a href="" >超学分选课</a></span>
                                </div>
                            </li>
                            <li>
                                <p class="bdt tosubnav"><img src="images/icon/icon3.png" alt=""/>考试和成绩</p>
                                <div class="sub_stunav">
                                    <span ><a href="" >考试纪律</a></span>
                                    <span ><a href="" >缓考</a></span>
                                    <span ><a href="" >成绩单</a></span>
                                    <span  class="bdn"><a href="" >成绩和查卷</a></span>
                                </div>
                            </li>
                            <li>
                                <p class="bdt tosubnav"><img src="images/icon/icon4.png" alt=""/>课程评估</p>
                                <div class="sub_stunav">
                                    <span  class="bdn"><a href="" >课程评估</a></span>
                                </div>
                            </li>
                            <li>
                                <p class="bdt tosubnav"><img src="images/icon/icon5.png" alt=""/>双学位/辅修</p>
                                <div class="sub_stunav">
                                    <span  class="bdn"><a href="" >双学位辅修</a></span>
                                </div>
                            </li>
                            <li>
                                <p class="bdt tosubnav"><img src="images/icon/icon6.png" alt=""/>本科生科研</p>
                                <div class="sub_stunav">
                                    <span  class="bdn"><a href="" >本科生科研</a></span>
                                </div>
                            </li>
                            <li>
                                <p class="bdt tosubnav"><img src="images/icon/icon7.png" alt=""/>推免研究生</p>
                                <div class="sub_stunav">
                                    <span  class="bdn"><a href="" >推免资格申请指南</a></span>
                                </div>
                            </li>
                            <li>
                                <p class="bdt tosubnav"><img src="images/icon/icon8.png" alt=""/>学籍异动</p>
                                <div class="sub_stunav">
                                    <span ><a href="" >转专业</a></span>
                                    <span ><a href="" >休学</a></span><span >
                                    <a href="" >延期毕业</a></span>
                                    <span ><a href="" >转学</a></span>
                                    <span ><a href="" >保留入学资格</a></span>
                                    <span ><a href="" >提前毕业</a></span>
                                    <span  class="bdn"><a href="" >退学</a></span>
                                </div>
                            </li>
                            <li>
                                <p class="bdt tosubnav"><img src="images/icon/icon9.png" alt=""/>学籍信息</p>
                                <div class="sub_stunav">
                                    <span ><a href="" >预毕业生个人信息</a></span>
                                    <span ><a href="" >修改姓名</a></span>
                                    <span  class="bdn"><a href="" >新生学籍表</a></span>
                                </div>
                            </li>
                            <li>
                                <p class="bdt tosubnav"><img src="images/icon/icon10.png" alt=""/>证件和证明</p>
                                <div class="sub_stunav">
                                    <span ><a href="" >学生证补办</a></span>
                                    <span ><a href="" >预毕业证明</a></span>
                                    <span ><a href="" >在学/学籍异动证明</a></span>
                                    <span ><a href="" >非京籍在学证明</a></span>
                                    <span ><a href="" >公证介绍信</a></span>
                                    <span  class="bdn"><a href="" >火车票优惠卡</a></span>
                                </div>
                            </li>
                            <li>
                                <p class="bdt tosubnav"><img src="images/icon/icon12.png" alt=""/>出境和转学分</p>
                                <div class="sub_stunav">
                                    <span ><a href="" >出境和停学手续</a></span>
                                    <span ><a href="" >交流交换项目</a></span>
                                    <span  class="bdn"><a href="" >转学分</a></span>
                                </div>
                            </li>
                            <li>
                                <p class="bdt tosubnav"><img src="images/icon/icon11.png" alt=""/>教室查询预约</p>
                                <div class="sub_stunav">
                                    <span ><a href="" >学生活动借用教室</a></span>
                                    <span ><a href="" >空闲教室查询</a></span>
                                    <span  class="bdn"><a href="" >小教室预约系统</a></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="subcon">
                    <div class="public_nav student_nav">
                        <div>
                            <ul>
                                <li>
                                    <a href="/teacher/login" target="_blank" th:if="${tno} == null"><p class="bdt tosubnav"><img src="images/icon/icon8.png" alt=""/>教师服务中心</p></a>
                                    <a href="/teacher/main" target="_blank" th:if="${tno} != null"><p class="bdt tosubnav"><img src="images/icon/icon8.png" alt=""/>教师服务中心</p></a>
                                </li>
                                <li>
                                    <p class="bdt tosubnav"><img src="images/icon/icon14.png" alt=""/>日常教学工作</p>
                                    <div class="sub_stunav">
                                        <span >
                                            <a href="teacher_info.php?type=2&id=19" >新开课</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=2&id=16" >课程异动</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=2&id=20" >修改课程大纲</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=2&id=17" >录入成绩</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=2&id=23" >成绩变更</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=2&id=15" >监考职责</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=2&id=18" >试卷论文管理</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=2&id=25" >教室使用</a>
                                        </span>
                                        <span class="bdn"><a href="teacher_info.php?type=2&id=26" >本科生科研</a>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <p class="bdt tosubnav"><img src="images/icon/icon15.png" alt=""/>课程和教学改革</p>
                                    <div class="sub_stunav">
                                        <span >
                                            <a href="teacher_info.php?type=3&id=22" >专业设置</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=3&id=7" >核心课程</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=3&id=11" >通识核心课</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=3&id=12" >通选课</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=3&id=10" >慕课</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=3&id=13" >小班课教学</a>
                                        </span>
                                        <span >
                                            <a href="http://dean.pku.edu.cn/englishcourses/" target="_blank">英文授课课程</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=3&id=9" >教学改革项目</a>
                                        </span>
                                        <span >
                                            <a href="teacher_info.php?type=3&id=6" >拔尖人才培养计划</a>
                                        </span>
                                        <span class="bdn">
                                            <a href="teacher_info.php?type=3&id=14" >中学生英才计划</a>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <p class="bdt tosubnav"><img src="images/icon/icon16.png" alt=""/>教学质量</p>
                                    <div class="sub_stunav">
                                        <span ><a href="teacher_info.php?type=4&id=2" >教学奖励</a></span>
                                        <span ><a href="teacher_info.php?type=4&id=3" >课程评估</a></span>
                                        <span ><a href="teacher_info.php?type=4&id=4" >老教授调研组</a></span>
                                        <span class="bdn"><a href="teacher_info.php?type=4&id=5" >领导听课</a></span>
                                    </div>
                                </li>
                                <li>
                                    <p class="bdt tosubnav"><img src="images/icon/icon17.png" alt=""/>教材</p>
                                    <div class="sub_stunav">
                                        <span ><a href="teacher_info.php?type=5&id=8" >教材</a></span>
                                        <span class="bdn"><a href="teacher_info.php?type=5&id=24" >教材成果</a></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="subcon">
                    <div class="public_nav student_nav">
                        <div class="public_item">
                            <a>
                                <img src="images/alumus/alumus1.png" alt="" />
                                <span>本科成绩单</span>
                            </a>
                        </div>
                        <div class="public_item">
                            <a>
                                <img src="images/alumus/alumus2.png" alt="" />
                                <span>补办毕业证明学位证明</span>
                            </a>
                        </div><div class="public_item">
                        <a href="http://dean.pku.edu.cn/certificate/" target="_blank">
                            <img src="images/alumus/alumus4.png" alt="" />
                            <span>学历学位验证</span>
                        </a>
                    </div>
                        <div class="public_item">
                            <a>
                                <img src="images/alumus/alumus3.png" alt="" />
                                <span>学信网相关事项</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="subcon">
                    <div class="public_nav student_nav">
                        <div class="public_item">
                            <a href="" target="_blank">
                                <img src="images/public1.png" alt="" />
                                <span>本科招生</span>
                            </a>
                        </div>
                        <div class="public_item">
                            <a href="http://summer.pku.edu.cn/" target="_blank">
                                <img src="images/public2.png" alt="" />
                                <span>暑期学校</span>
                            </a>
                        </div>
                        <div class="public_item">
                            <a href="http://dean.pku.edu.cn/certificate/" target="_blank">
                                <img src="images/public3.png" alt="" />
                                <span>学历学位验证</span>
                            </a>
                        </div>
                        <div class="public_item">
                            <a>
                                <img src="images/public4.png" alt="" />
                                <span>旁听</span>
                            </a>
                        </div>
                        <div class="public_item">
                            <a>
                                <img src="images/public5.png" alt="" />
                                <span>交换生</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="subcon">
                    <div class="link_nav student_nav">
                        <div class="link_item">
                            <div class="link_wrap">
                                <a href="" target="_blank">选课系统</a>
                                <a href="" target="_blank">校内门户</a>
                                <a href="" target="_blank">教室预约</a>
                                <a href="" target="_blank">课表查询</a>
                                <a href="" target="_blank">课程评估</a>
                                <a href="" target="_blank">本科生科研</a>
                                <a href="" target="_blank">申办成绩单</a>
                                <a href="" target="_blank">空闲教室查询</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subcon">
                    <div class="search_nav student_nav">
                        <div class="form">
                            <input type="text" name="sear_right_txt" id="sear_right_txt" placeholder="搜索" value=""/>
                            <input type="button" name="sear_right_btn" id="sear_right_btn" value="" style="background-image: url(images/icon_right6.png); "/>
                        </div>
                        <div id="result">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--点击右侧出现遮罩层-->
        <div id="right_mark"></div>

        <!--顶部下链接-->
        <div id="wrap_nav">
            <div class="nav_mark"></div>
            <div class="link_box">
                <div class="nav_item">
                    <a>
                        <img src="images/bg_link1.png" alt="了解我们"/>
                        <span>了解我们</span>
                    </a>
                </div>
                <div class="nav_item">
                    <a>
                        <img src="images/bg_link2.png" alt="规章制度"/>
                        <span>规章制度</span>
                    </a>
                </div>
                <div class="nav_item">
                    <a>
                        <img src="images/bg_link3.png" alt="信息下载"/>
                        <span>信息下载</span>
                    </a>
                </div>
                <!--<div class="nav_item">
                    <a href="#">
                        <img src="images/bg_link4.png" alt="投诉建议"/>
                        <span>投诉建议</span>
                    </a>
                </div>
                <div class="nav_item">
                    <a href="#">
                        <img src="images/bg_link5.png" alt="旧版网站"/>
                        <span>旧版网站</span>
                    </a>
                </div>-->
            </div>
            <div id="link_return">
                <img src="images/return_arr.png" alt=""/>
            </div>
        </div>
    </div>
    <!--顶部end-->
</div>
</body>
</html>
