<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.CourseDao">
    <select id="queryAll" parameterType="com.example.entity.Course" resultType="com.example.entity.Course">
        SELECT * FROM course
    </select>
    <insert id="addCourse" parameterType="com.example.entity.Course">
        INSERT INTO course (cname, credit, type, period) values (#{cname}, #{credit}, #{type}, #{period})
    </insert>
    <update id="updateCourse" parameterType="com.example.entity.Course">
        UPDATE course set cname=#{cname}, credit=#{credit}, type=#{type}, period=#{period}
        WHERE cid=#{cid}
    </update>
    <delete id="deleteCourse" parameterType="int">
        DELETE FROM course WHERE cid=#{cid}
    </delete>
    <delete id="deleteAll" parameterType="list">
        DELETE FROM course where cid in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            ${id}
        </foreach>
    </delete>
    <select id="queryToStudent" parameterType="int" resultType="com.example.entity.Course">
        SELECT DISTINCT course.*, teacher.`tname`, college.`name` FROM course, teacher, student, teacher_course, profession, college, score
        WHERE student.`pid`=profession.`pid` AND profession.`college`=college.`id` AND teacher.`cid`=college.`id`
        AND teacher.`tid`=teacher_course.`tid` AND course.`cid`=teacher_course.`cid` AND student.`sid`=#{sid}
        AND course.`cid` NOT IN (SELECT cid FROM score WHERE sid=#{sid})
    </select>
    <select id="queryToTeacher" parameterType="String" resultType="com.example.entity.Course">
        SELECT course.*, teacher.`tname`, college.`name` FROM course, teacher, teacher_course, college
        WHERE teacher.`cid`=college.`id` AND teacher.`tid`=teacher_course.`tid` AND course.`cid`=teacher_course.`cid`
        AND teacher.`tno`=#{tno}
    </select>
</mapper>